@import './resets', './variables' ;


body {
    background: $bg-dark;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 80%;
    height: 70%;
    background: $bg-light;
    border-radius: .5em;
    padding: 1em;

    &__inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: $font-light;
        border-radius: .5em;
    }
}

.messages {
    list-style: none;
    display: flex;
    flex-direction: column;

    &__item-left  {
    margin: 1em;
    width: fit-content;
    padding: .5em 1em;
    border-radius: 1em;
    position: relative;
    background-color: rebeccapurple;
    color: white;

        &::after {
            content: '';
            width: 1em;
            height: 1em;
            border: 0.5em solid transparent;
            border-top-color: rebeccapurple;
            position: absolute;
            left: 10px;
            bottom: -0.8em;
            z-index: 99;
        }
    }

    &__item-right  {
        margin: 1em;
        width: fit-content;
        padding: .5em 1em;
        border-radius: 1em;
        position: relative;
        background-color: rebeccapurple;
        color: white;
        align-self: flex-end;
    
            &::after {
                content: '';
                width: 1em;
                height: 1em;
                border: 0.5em solid transparent;
                border-top-color: rebeccapurple;
                position: absolute;
                right: 10px;
                bottom: -0.8em;
                z-index: 99;
            }
        }
}